#layout {
    #header {
        width           : 100%;
        margin-bottom   : 50px;
        padding         : 0 80px;
        background-color: #292525;
        color           : #fff;
        // height: auto;
        display         : flex;
        justify-content : space-between;

        .logo {
            text-align     : center;
            color          : rgba(255, 255, 255, 0.7);
            font-size      : 22px;
            text-decoration: none;

            &:hover {
                color: rgba(255, 255, 255, 1);
            }

            .iconfont {
                font-size    : 24px;
                padding-right: 10px;
            }
        }

        .menu {
            background: transparent;
            width: 378px;

            .menu-item {
                line-height: 64px;
                height     : 64px;

                a {
                    text-decoration: none;
                }
            }

            .iconfont {
                font-size    : 14px;
                padding-right: 5px;
            }
        }
    }

    #body {
        min-width : 200px;
        max-width : 800px;
        margin    : 0 auto;
        min-height: 600px;
    }

    #footer {
        color           : #fff;
        font-size       : 12px;
        text-align      : center;
        background-color: #292525;
        margin-top      : 20px;

        p {
            line-height  : 2;
            margin-bottom: 0;
        }

        .copyright,
        .support,
        .time,
        .icp {
            a {
                color: #fff;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .icp {
            margin-bottom: 0;
        }
    }
}