.ant-card-body {
    width: 100%;
}

.fixed {
    position: fixed;
    top     : 0
}

.toc-info {
    margin-top: 20px;

    .article-toc {
        font-size: 12px;
    }
}

.my-card{
    margin-bottom: 20px;
}
.brief-info {
    display        : flex;
    justify-content: center;

    .avatar {
        display        : flex;
        justify-content: center;
    }

    .options {
        display        : flex;
        justify-content: space-between;
        padding-top    : 20px;
        padding-right  : 20px;
        padding-left   : 20px;

        a {

            color: fade(@body-color, 70%);

            &:hover {
                color: @primary-color;
            }

            i {
                font-size: 24px;
            }
        }
    }

    .me {
        padding: 20px 0;

        span {
            font-size      : 14px;
            display        : flex;
            justify-content: center;

            &:first-child {
                font-size  : 16px;
                font-weight: 500;
            }

            &:last-child {
                display    : flex;
                align-items: center;
                font-size  : 12px;

                .iconfont {
                    font-size: 16px;
                    color    : @primary-color;
                }
            }
        }
    }

}