.tag {
    border-radius: 30px;
    font-size: 12px;
    color: #000;
    border-color: #ccc;
    margin: 5px 5px 5px 0;
    cursor: pointer;
    &:hover {
        color: #fff;
        background: #292525 !important;
    }
}
