.customTag {
    margin-bottom: 5px;
    margin       : 5px 5px 5px 0;
    cursor       : pointer;
    color        : @primary;
    background-color: fade(@primary, 5%);

    &:hover {
        color       : @primary;
        border-color: @primary  !important;
    }

    border-color: fade(@primary, 30%);

    &.active {
        color       : @primary;
        border-color: @primary  !important;
    }
}