html,
body {
    width: 100%;
    height: 100%;
}

#home-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    background: #000000;

    .home-layout {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        #sider {
            .sider-info {
                color: #d5d5d5;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                font-size: 12px;
                padding-top: 50px;
                .greet {
                    font-size: 14px;
                    padding: 10px 0;
                }
                .career {
                    padding: 20px 0;
                }
                .avatar {
                    width: 50px;
                    height: 50px;
                    border: 1px solid #d5d5d5;
                }
                .menu {
                    text-align: center;
                    li {
                        padding: 10px 0;
                        a {
                            font-size: 12px;
                            color: #d5d5d5;
                            padding: 5px 0;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .contact {
                    padding-top: 20px;
                    a {
                        color: #d5d5d5;
                        padding: 0 5px;
                        i {
                            font-size: 24px;
                        }
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
        #header {
            background-color: #fff;
            padding: 0;
            margin-bottom: 10px;
            height: auto;
            .trigger {
                cursor: pointer;
            }
        }
        #body {
            min-height: auto !important;
            .home-card-title {
                font-size: 16px;
            }
            .home-card-extra {
                padding-bottom: 8px;
                .home-card-extra-time {
                    font-size: 12px;
                }
            }
            .home-card-abstract {
                text-align: justify;
                > div {
                    color: #333;
                    font-size: 14px;
                    &:hover {
                        text-decoration: underline;
                        color: #05264c;
                    }
                }
            }
        }
        #footer {
            background: #fff;
            font-size: 12px;
            text-align: center;
            background: #fff;
            margin-top: 10px;
            .copyright,
            .support,
            .icp {
                padding-bottom: 10px;
            }
        }
    }
}
.ant-tag {
    font-size: 12px;
    background-color: #fff !important;
    color: #05264c;
    border-color: #05264c;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        color: #fff;
        background: #05264c !important;
    }
}
